{% extends "template.html" %}

{% block title %}Ranking's Page{% endblock %}

{% block content %}

	<table >
		<thead>
			<td>Data</td>
			<td>Posicao</td>
			<td>Jogador</td>
		</thead>
		<tbody>
			{% for ranking in rankings %}
			<tr>
				<td>{{ ranking.date }} </td>
				<td>{{ ranking.position }} </td>
				<td>{{ ranking.name }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	

	<form action="/ranking" method="post">
	  <div><input type="text" name="position"></input></div>
	  <div><input type="text" name="data"></input></div>
	  <div><input type="text" name="name"></input></div>
	  <div><input type="submit" value="Insert Ranking"></div>
	</form>
{% endblock %}